/* You can add global styles to this file, and also import other style files */
.title{
  font-size: 1.8vw;
}

.item{
  cursor:pointer;
  font-size: 1vw;
}

.tooltip{
  position: absolute;
  width:8vw;
  height:8vw;
  left: 8vw;
}

.qr-image{
  width:8vw;
}
